
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <!--2 ghesmate aval-->
    <div class="row">
        <!--Img-Avatar-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 height100Percentright" id="avatardiv" style="background-color:#FBFBFB">
            <img src="img/SiamakJalili.png" class="img-responsive img-circle glyphicon-align-center marginTop230"
                 style="margin:auto;" id="img-avatar" />
        </div>
        <!--tozihate avale safhe-->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 height100Percentleft">
            <div id="first-text">
                <span class="text-lowercase" id="fname">
                    سیامک
                </span>
            </div>
            <div id="second-text">
                <span class="text-uppercase" id="lname">
                    جلیلی
                </span>
            </div>
            <div id="third-text">
                <span class="text-lowercase" id="job">
                    مدرس، برنامه نویس و توسعه دهنده وب
                </span>
                <div id="socialmedias">
                    <a href="https://twitter.com/siamak_jalili" target="_blank" class="link">
                        <i class="fa fa-twitter twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/siamak.jalili" target="_blank" class="link">
                        <i class="fa fa-facebook facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/siamak-jalili-34b30611b" target="_blank" class="link">
                        <i class="fa fa-linkedin linkedin"></i>
                    </a>
                </div>
            </div>
            <div>
                <hr id="horizontal-line-up" />
            </div>
            <div id="info">
                <div class="location">
                    <h4>موقعیت</h4>
                    <address id="location">ایران،تهران</address>
                </div>
                <div class="phone">
                    <h4>تلفن</h4>
                    <address id="phone">(9124262529)+98</address>
                </div>
                <div class="website">
                    <h4>وبسایت</h4>
                    <address id="website">
                        <a href="#" target="_blank" class="link">siamakjalili.com</a>
                    </address>
                </div>
                <div class="emailaddress">
                    <h4>ایمیل</h4>
                    <address id="emailaddress">
                        <a href="#" target="_blank" class="link">siamak.jalilii@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!--About Me-->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="aboutme">
            <div>
                <span class="aboutme">درباره من</span>

            </div>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12" id="aboutme2">
            <div class="aboutme2">
                <p>
                    سلام من سیامک هستم و ایران زندگی میکنم و اشتیاق فراوانی نسبت به کارم دارم.<br />
                    سه مورد خیلی مهم در زندگی من وجود دارد:<br />
                    1.	برنامه نویسی<br />
                    2.	مسافرت<br />
                    3.	سنگنوردی<br />
                    من برنامه نویسی و توسعه دادن وب رو بطور آکادمیک از دانشگاه آموختم و بعد از اون بود که میخواستم یکی از برنامه نویس های حرفه ای بشم
                    و بنابراین بسیار تلاش کردم که زبان برنامه نویسی سی شارپ رو بخوبی یادبگیرم .
                    و در حال حاضر بسیاری از پروژه های بر مبنای سی شارپ و aspn.net رو رهبری میکنم.
                    من میتونم از طریق تدریس دانش خودم رو به کسانی که میخواهد وارد بازار کار برنامه نویسی شوند انتقال بدم.
                </p>
            </div>
        </div>
    </div>
    <!-- Expertise (tajrobe va takhasos) -->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="expertise">
            <div>
                <span class="expertise">تجربه و تخصص</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="expertise2">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-2">

                    <div class="numbers1">01</div>

                </div>
                <div class="col-md-10">
                    <div class="expertext">Back End Develope</div>
                    <p class="expertextp">
                        طراحی و پیاده سازی پایگاه داده.<br />
                        توسعه کدهای سمت سرور<br />
                        وب سرویس و وب ای پی آی<br />
                        پنل مدیریت پروژه
                    </p>


                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-2">

                    <div class="numbers1">02</div>

                </div>
                <div class="col-md-10">

                    <div class="expertext">#C</div>
                    <p class="expertextp">
                        کنسول اپلیکیشن<br />
                        وب اپلیکیشن<br />
                        ویندوز اپلیکیشن<br />
                    </p>
                </div>
            </div>


        </div>
    </div>
    <!--Skills (maharatha) -->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="skills">
            <div>
                <span class="skills">مهارت ها</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="progress">
            <div class="col-md-6 col-sm-12 one">
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat"> ASP.NET MVC</div>

                </div>

                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat"> WEB API</div>

                </div>

                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 70 <small>%</small></div>
                    <div class="maharat">SQL SERVER</div>

                </div>

                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="70" style="width: 70% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat">AJAX</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat">JQUERY</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 two">
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat"> Web Service</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 50 <small>%</small></div>
                    <div class="maharat">React</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="50" style="width: 50% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat">HTML</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat">CSS</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
                <div>
                    <div class="percentnumber1"> 80 <small>%</small></div>
                    <div class="maharat">BOOTSTRAP</div>

                </div>
                <div class="progress">
                    <div id="one" class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="80" style="width: 80% ;background-color:#0c9fb7 !important; ">

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Experience (tajrobiat)-->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="experience">
            <div>
                <span class="experience">تجربیات</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <Div class="col-md-6">
                <div class="point"></div>
                <div class="work">  2017 - تاکنون</div>
                <div class="work2"><a href="http://mteamapps.ir/" target="_blank" class="link"><span class="mteam">MTeam.CO</span></a></div>
                <div class="work3">توسعه دهنده وب</div>
                <div class="work4">ایران، تهران</div>
                <div class="verticalline"> </div>

            </Div>
            <Div class="col-md-6">
                <div class="workdsc">

                    شرکت دانش بنیان MTeam  بزرگترین شرکت تولید اپلیکیشن ایران است. فعالیت و حضور MTeam  در این حوزه به سال‌های قبل برمی‌گردد.
                </div>
            </Div>
        </div>
    </div>
    <!--Education (tahsilat)-->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="EDUCATION">
            <div>
                <span class="EDUCATION">تحصیلات</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="education2">
            <Div class="col-md-6">
                <div class="point"></div>
                <div class="work">2011-2017</div>
                <div class="work2">دانشگاه آزاد</div>
                <div class="work3">سخت افزار</div>
                <div class="work4">ایران،تهران</div>
                <div class="verticalline"> </div>

            </Div>
            <Div class="col-md-6">
                <div class="workdsc">
                    دانشگاه آزاد اسلامی واحد تهران جنوب  سومین واحد دانشگاهی از واحدهای دانشگاه تابعه دانشگاه آزاد اسلامی است. این واحد دانشگاهی از لحاظ تعداد دانشجو در حال حاضر با بیش از ۴۰ هزار نفر دانشجو دومین دانشگاه بزرگ کشور و از نظر رشته‌های فنی و مهندسی با حدود ۲۰ هزار نفر دانشجو در دانشکده‌های فنی و مهندسی و صنایع بزرگترین دانشگاه کشور و خاورمیانه به‌شمار می‌رود. این دانشگاه در زمره پنج دانشگاه برتر واحدهای آزاد می‌باشد و قدمتی ۳۲ ساله دارد.
                </div>
            </Div>
        </div>
    </div>
    <!-- Projects(پروژه ها )-->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="projects">
            <span class="Projects">پروژه ها</span>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-2">

                    <div class="numbers1">01</div>

                </div>
                <div class="col-md-10">
                    <div class="projectxt"><a href="http://www.fixio.ir" target="_blank" id="projectslink" class="link2">www.fixio.ir</a></div>
                    <p class="expertextp">
                        <img src="img/fixio-black&white.png" class="img-responsive" data-toggle="modal" data-target=".mymodal" id="img-projects" alt="www.fixio.ir">
                    </p>
                    <!--- modal-->
                    <div class="modal fade mymodal" role="dialog">
                        <div class="modal-dialog">
                            <!--- modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">fixio</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-2">

                    <div class="numbers1">03</div>

                </div>
                <div class="col-md-10">
                    <div class="projectxt"><a href="http://www.fixio.ir" target="_blank" id="projectslink" class="link2">www.fixio.ir</a></div>
                    <p class="expertextp">
                        <img src="img/fixio-black&white.png" class="img-responsive" data-toggle="modal" data-target=".mymodal2" id="img-projects" alt="www.fixio.ir">
                    </p>
                    <!--- modal-->
                    <div class="modal fade mymodal2" role="dialog">
                        <div class="modal-dialog">
                            <!--- modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">fixio</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-2">

                    <div class="numbers1">05</div>

                </div>
                <div class="col-md-10">
                    <div class="projectxt"><a href="http://www.fixio.ir" target="_blank" id="projectslink" class="link2">www.fixio.ir</a></div>
                    <p class="expertextp">
                        <img src="img/fixio-black&white.png" class="img-responsive" data-toggle="modal" data-target=".mymodal3" id="img-projects" alt="www.fixio.ir">
                    </p>
                    <!--- modal-->
                    <div class="modal fade mymodal3" role="dialog">
                        <div class="modal-dialog">
                            <!--- modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">fixio</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-2">

                    <div class="numbers1">02</div>

                </div>
                <div class="col-md-10">
                    <div class="projectxt"><a href="http://www.fixio.ir" target="_blank" id="projectslink" class="link2">www.fixio.ir</a></div>
                    <p class="expertextp">
                        <img src="img/fixio-black&white.png" class="img-responsive" data-toggle="modal" data-target=".mymodal4" id="img-projects" alt="www.fixio.ir">
                    </p>
                    <!--- modal-->
                    <div class="modal fade mymodal4" role="dialog">
                        <div class="modal-dialog">
                            <!--- modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">fixio</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-2">

                    <div class="numbers1">04</div>

                </div>
                <div class="col-md-10">
                    <div class="projectxt"><a href="http://www.fixio.ir" target="_blank" id="projectslink" class="link2">www.fixio.ir</a></div>
                    <p class="expertextp">
                        <img src="img/fixio-black&white.png" class="img-responsive" data-toggle="modal" data-target=".mymodal5" id="img-projects" alt="www.fixio.ir">
                    </p>
                    <!--- modal-->
                    <div class="modal fade mymodal5" role="dialog">
                        <div class="modal-dialog">
                            <!--- modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">fixio</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-2">

                    <div class="numbers1">06</div>

                </div>
                <div class="col-md-10">
                    <div class="projectxt"><a href="http://www.fixio.ir" target="_blank" id="projectslink" class="link2">www.fixio.ir</a></div>
                    <p class="expertextp">
                        <img src="img/fixio-black&white.png" class="img-responsive" data-toggle="modal" data-target=".mymodal6" id="img-projects" alt="www.fixio.ir">
                    </p>
                    <!--- modal-->
                    <div class="modal fade mymodal6" role="dialog">
                        <div class="modal-dialog">
                            <!--- modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">fixio</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                    <p>Fixio is a good website.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact (تماس با من)-->
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" id="contact">
            <div>
                <span class="contact">تماس با من</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="contact2">
            <div id="info2">
                <div class="location" id="location2">
                    <h4>موقعیت</h4>
                    <address id="location">ایران،تهران</address>
                </div>
                <div class="phone" id="phone2">
                    <h4>تلفن</h4>
                    <address id="phone">(9124262529)+98</address>
                </div>
                <div class="website" id="website2">
                    <h4>وبسایت</h4>
                    <address id="website">
                        <a href="#" target="_blank" class="link">siamakjalili.com</a>
                    </address>
                </div>
                <div class="emailaddress" id="emailadress2">
                    <h4>ایمیل</h4>
                    <address id="emailaddress">
                        <a href="#" target="_blank" class="link">siamak.jalilii@gmail.com</a>
                    </address>
                </div>

            </div>
            <div>
                <hr id="horizontal-line-down" />
            </div>


            <div class="first-text2 fname2">
                <span class="text-lowercase" id="fname">سیامک</span>
            </div>
            <div class="secont-text2 lname2" id="second-text">
                <span class="text-uppercase" id="lname">جلیلی</span>
            </div>
            <div class="third-text2 job2" id="third-text">
                <span class="text-capitalize" id="job">
                    مدرس، برنامه نویس، توسعه دهنده وب
                </span>
            </div>
            <div class="socialmediasdown">
                <a href="https://twitter.com/siamak_jalili" target="_blank" class="link">
                    <i class="fa fa-twitter twitter"></i>
                </a>
                <a href="https://www.facebook.com/siamak.jalili" target="_blank" class="link">
                    <i class="fa fa-facebook facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/siamak-jalili-34b30611b" target="_blank" class="link">
                    <i class="fa fa-linkedin linkedin"></i>
                </a>
                <a href="/en"  class="link">
                    <i class="fa fa-globe globe"></i>
                </a>
            </div>
        </div>

    </div>
    <!-- Designer ( طراح )-->
    <div class="row">
        <div class="designer">
            طراحی شده توسط: <a href="https://www.linkedin.com/in/fateme-safari-b8982779/" id="designer">
                فاطمه
                صفری
            </a>
        </div>
    </div>
</div>
